/.byebug_history
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/
/node_modules/

# rspec failure tracking
.rspec_status

# build files
/pkg/
/build/*
/dist/*
/app/assets/dist/*
/docs/.vitepress/dist
/docs/.vitepress/cache

# editor config
/.idea/
