<%= render(Impulse::DialogComponent.new(title: "Edit your profile")) do |c| %>
  <% c.with_trigger { "Edit profile" } %>
  <% c.with_body do %>
    The dialog HTML element represents a dialog box or other interactive component, such as a dismissible alert, inspector, or subwindow. The native HTML dialog element should be used in creating modal dialogs as it provides usability and accessibility features that must be replicated if using other elements for a similar purpose. Use the appropriate .showModal() or .show() method to render dialogs. If creating a custom dialog implementation, ensure all expected default behaviors are supported and proper labeling recommendations are followed. Ensure a mechanism is provided to allow users to close a dialog. The most robust way to ensure all users can close a dialog is to include an explicit button to do so. For instance, a confirmation, cancel or close button as appropriate. Additionally, for those using a device with a keyboard, the Escape key is commonly expected to close modal dialogs as well. By default, a dialog invoked by the showModal() method will allow for its dismissal by the Escape. A non-modal dialog does not dismiss via the Escape key by default, and depending on what the non-modal dialog represents, it may not be desired for this behavior. If multiple modal dialogs are open, Escape should only close the last shown dialog. When using dialog, this behavior is provided by the browser.
  <% end %>
  <% c.with_footer do %>
    <button type="button" class="btn btn-secondary btn-sm" data-action="click->awc-dialog#hide">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm">Save</button>
  <% end %>
<% end %>
