<%= render(Impulse::DialogComponent.new(title: "Edit your profile")) do |c| %>
  <% c.with_trigger { "Edit profile" } %>
  <% c.with_body do %>
    What follows is just some placeholder text for this modal dialog. Sipping on Rosé, Silver Lake sun, coming up all
    lazy. It’s in the palm of your hand now baby. So we hit the boulevard. So make a wish, I'll make it like your
    birthday everyday.

    <div class="mt-3">
      <%= render(Impulse::DialogComponent.new(title: "Nested dialog", size: :sm)) do |s| %>
        <% s.with_trigger(class: "btn btn-primary btn-sm") { "Open dialog" } %>
        <% s.with_body { "This is a nested dialog." } %>
        <% s.with_footer do %>
          <button type="button" class="btn btn-secondary btn-sm" data-action="click->awc-dialog#hide">Close</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
