<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <% if content.present? %>
    <%= content %>
  <% else %>
    <%= tag.span @title, id: @title_id %>
    <button type="button" class="close" aria-label="Close" data-action="click->awc-popover#hide" data-autofocus>
      &times;
    </button>
  <% end %>
<% end %>
