<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <% if content.present? %>
    <%= content %>
  <% else %>
    <%= @title %>
    <button type="button" class="close" aria-label="Close" data-action="click->awc-popover#hide">
      &times;
    </button>
  <% end %>
<% end %>
