<div class="d-flex align-items-center">
  <%= render(Impulse::PopoverComponent.new(title: "Activity feed")) do |c| %>
    <% c.with_trigger { "Open" } %>
    <% c.with_body(data: {test_id: "parent-popover"}) do %>
      Here is some activity feed for you!
      <%= render(Impulse::PopoverComponent.new(title: "Nested popover", class: "d-block mt-3", placement: :right)) do |c| %>
        <% c.with_trigger { "Open nested popover" } %>
        <% c.with_body(data: {test_id: "nested-popover"}) { "Awesome body content!" } %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Impulse::PopoverComponent.new(title: "Another popover")) do |c| %>
    <% c.with_trigger { "Event" } %>
    <% c.with_body(data: {test_id: "non-related-popover"}) do %>
      Event details goes here.
    <% end %>
  <% end %>
</div>

<button type="button" class="position-absolute" style="top: 0">Outside button</button>
