<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <div class="awc-autocomplete-option-content">
    <span id="<%= @text_id %>" class="awc-autocomplete-option-text"><%= @text %></span>
    <% if @description %>
      <span class="awc-autocomplete-option-description"><%= @description %></span>
    <% end %>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor" class="awc-autocomplete-option-check" aria-hidden="true">
    <path fill="none" d="M0 0h24v24H0z"></path><path d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z"></path>
  </svg>
<% end %>
