<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <% if content.present? %>
    <div class="awc-dialog-title">
      <%= content %>
    </div>
  <% else %>
    <h2 class="awc-dialog-title"><%= @title %></h2>
  <% end %>

  <button type="button" class="btn btn-light awc-dialog-close-btn" data-action="click->awc-dialog#hide" aria-label="Close dialog">
    <i class="bi bi-x" aria-hidden="true"></i>
  </button>
<% end %>
