<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <div class="awc-dialog-title-container">
    <%= tag.h2 @title, id: @title_id, class: "awc-dialog-title" %>
  </div>

  <button type="button" class="btn btn-light awc-dialog-close-btn" data-action="click->awc-dialog#hide" aria-label="Close dialog">
    <i class="bi bi-x" aria-hidden="true"></i>
  </button>
<% end %>
